.container{
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../assets/blob.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-y: scroll;
}

.box{
    margin: 50px;
    margin-top: 300px;
    background-color: #fff;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 10px 10px var(--transparent);
}


.field{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
}

label{
    font-size: 15pt;
}


a{
    color: var(--primary);
}