@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body, html{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

#root{
    width: 100%;
    height: 100%;
}

:root{
    --primary: #1a2b6e;
    --secondary:#3775b8;
    --bg: #e4eaf2;
    --transparent: #11111131;
}